* {
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  margin: 0px;
}
.boxes-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading {
  font-size: 35px;
  font-weight: 600;
  color: #0f172a;
}
.boxes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-box {
  background-color: #fbbf24;
  height: 100px;
  width: 100px;
}
.medium-box {
  background-color: #38bdf8;
  height: 150px;
  width: 150px;
}
.large-box {
  background-color: #ec4899;
  height: 200px;
  width: 200px;
}
.box-title {
  font-size: 18px;
  color: #ffffff;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px;
}
@media screen and (min-width: 768px) {
  .boxes-container {
    flex-direction: row;
    align-items: flex-end;
  }
  .box {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .small-box {
    background-color: #fbbf24;
    height: 100px;
    width: 100px;
  }
  .medium-box {
    background-color: #38bdf8;
    height: 150px;
    width: 150px;
  }
  .large-box {
    background-color: #ec4899;
    height: 200px;
    width: 200px;
  }
}
